 button {
   padding: 1rem 3rem;
   height: 3rem;
   font-size: 12px;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 2.5px;
   font-weight: 500;
   color: #000;
   background-color: rgba(224, 224, 224, 0.405);
   border: solid 1px rgba(0, 0, 0, 0.404);
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   outline: none;
 }

 button:hover {
   background-color: #eaeaea;
   box-shadow: 0px 15px 20px #17202A35;
   color: #000;
   transform: translateY(-2px);
 }

 img {
   object-fit: cover;
   height: 150px;
   width: 100px;
   border-radius: 1rem;
   margin: 0;
 }

 .CardContainer h1 {
   font-size: 1rem;
   overflow-wrap: break-word;
   width: 40rem;
 }

 .CardItem {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 5rem;
   background: rgb(240, 240, 240);
   border-radius: 1rem;
   padding: 3rem;
   margin: 1rem;
 }

 .btnCard {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
 }

 .CardContainer a {
   display: flex;
   align-items: center;
   padding: 0 4rem;
   height: 3rem;
   font-size: 12px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 2.5px;
   font-weight: 500;
   color: #000;
   background-color: rgba(224, 224, 224, 0.405);
   border: solid 1px rgba(0, 0, 0, 0.404);
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   outline: none;
 }

 .CardContainer {
  display: flex;
  min-height: 496px;
  flex-direction: column;
  justify-content: space-between;

 }
 .CardContainer a:hover {
   background-color: #eaeaea;
   box-shadow: 0px 15px 20px #17202A35;
   color: #000;
   transform: translateY(-2px);
 }

 .CartEmpty {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 318px;
  gap: 5rem;
  background: rgb(240, 240, 240);
  border-radius: 1rem;
  padding: 3rem;
  margin: 1rem;
 }

 .CartEmpty h1 {
  font-size: 1.2rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: rgb(164, 163, 163);

 }