.cardDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

.cardDetail img {
    object-fit: cover;
    height: 400px;
    width: 350px;
    border-radius: 1rem;
    margin: 0;
}

.cardDetail h2 {
    font-weight: 600;
}

.DetailInfo {
    width: 60%;
}

.countItem {
    display: flex;
    flex-direction: column;
    padding: 1.3em 1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    gap: 2rem;
    text-align: center;
    width: 100%;
}

.btnCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
    margin-bottom: 1rem;

  }

.btnCount button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgba(224, 224, 224, 0.405);
    border: solid 1px rgba(0, 0, 0, 0.404);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

.btnCount button:hover {
    background-color: #eaeaea;
    box-shadow: 0px 15px 20px #17202A35;
    color: #000;
    transform: translateY(-2px);
}

.btnCount p {
    width: 50px
}

@media screen and (max-width: 1024px) {
    .cardDetail {
        display: flex;
        gap: 0.5rem;
        padding: 1rem 0;
    }
    
    .cardDetail img {
        object-fit: cover;
        height: 250px;
        width: 200px;
        border-radius: 1rem;
        margin: 0;
    }
    
    .cardDetail h2 {
        font-weight: 600;
    }
    .cardDetail h1 {
        font-size: 1.6rem;
    }
    
    .DetailInfo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 35%;
        gap: 1rem;
    }
    .btnCount button {
        padding: 1.3em 1rem;
        font-size: 8.5px;
    }
}
@media screen and (max-width: 768px) {
    .cardDetail {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0;
    }
    
    .cardDetail img {
        object-fit: cover;
        height: 150px;
        width: 100px;
        border-radius: 1rem;
        margin: 0;
    }
    
    .cardDetail h2 {
        font-weight: 600;
    }
    .cardDetail h1 {
        font-size: 1.4rem;
    }
    
    .DetailInfo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        gap: 1rem;
    }

    .btnCount {
        display: flex;
        justify-content: center;
    }
    .btnCount button {
        padding: 1.3em 1rem;
        font-size: 8.5px;
    }
}