body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background: #17202A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2rem;
  background: #E5E7E9;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #17202A;
  height: 100px;
  color: white;
}

.ItemListContainer {

  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.cardItem {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  justify-content: space-around;
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  padding: 1rem;

}

.cardItem img {
  object-fit: cover;
  border-radius: 1rem;
  margin: 0;
}

.cardItem p {
  color:rgb(205, 188, 34);
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1rem;
  margin: 0;
}

.cardItem h1 {
  margin: 0;
  line-height: 1rem;
}
.cardItem button {
  margin: 0;
}

.btnCount {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
}